@font-face {
    font-family: 'Cooper Black';
    src: url('/css/fonts/cooper-black-webfont.eot');
    src: url('/css/fonts/cooper-black-webfont.eot?#iefix') format('embedded-opentype'),
        url('/css/fonts/cooper-black-webfont.woff') format('woff'),
        url('/css/fonts/cooper-black-webfont.ttf') format('truetype'),
        url('/css/fonts/cooper-black-webfont.svg#cooper_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
  background-color: rgb(38, 62, 102);
  color: white!important;
}
h1{
  font-family: "Cooper Black", "Times New Roman", serif!important;
}
.orange{
  color: #F74902;
}
.container{
  width: 75%;
  height: 100vh;
  overflow-y: visible;
  max-width: 960px;
}
.container.wide{
  max-width: 80vw; 
}
h1{
  margin: 0 auto!important;
  max-width: 80vw;
  padding: 10px 0;
  text-align: center;
  position:relative;
  z-index: 2000;
}
form, h2, h3, p{
  margin: 0 auto!important;
  display: block;
  padding: 10px 0;
  position: relative;
}
.success > *:not(.img-wrap){
  position: relative;
  background-color: rgb(38, 62, 102);
  z-index: 1000;
  -webkit-box-shadow: 0px 0px 20px 20px rgb(38,62,102);
  box-shadow: 0px 0px 20px 20px rgb(38,62,102);
}
.img-wrap{
  width: 100%;
  text-align: center;
}
.img-wrap img{
  width: auto;
  margin-top: 20px;
}
.success p{
  margin-top: 20px!important;
}
h1{
  z-index: 1001;
}
form{
  background-color: rgb(38, 62, 102);
  z-index: 1000;
  box-shadow: 0px 0px 30px 40px rgb(38,62,102);
}
input, textarea{
  color: white;
}
fieldset div{
  float: left;
  clear: both;
  width: 100%;
  display: flex;
  align-items: center;
}
fieldset input{
  margin-left: 10px;
}
fieldset input, fieldset label{
  padding-bottom: 0px;
  margin-bottom:0px;
}
@media (max-width: 650px) { 
  .container, form, h1, h2, h3, p{
    max-width: 100%;
  }
}
.snow-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
}
.wreath{
  background-image: url('/wreath_opt.png');
  position: fixed;
  right: 0px;
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  animation: wreath cubic-bezier(0.6, 0.04, 0.98, 0.335);
  animation-fill-mode: forwards;
  animation-duration: 2s;
}
.gritty{
  animation: gritty cubic-bezier(0.6, 0.04, 0.98, 0.335);
  animation-fill-mode: forwards;
  height: 200px;
  width: 200px;
  background-image: url('/gritty_santa_opt.png');
  animation-duration: 2s;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  bottom: -200px;
  left: 2vw;
}
@keyframes gritty {
  0% {
    transform: translate3d(0, 0px, 0);
  }  
  100% {
    transform: translate3d(0, -200px, 0);
  }
}

@keyframes wreath {
  0% {
    /*transform: translate3d(0, 0px, 0);*/
    top: -200px;
  }  
  100% {
    /*transform: translate3d(0, 0px, 0);*/
    top: 0px;
  }
}
.snow {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
          animation: snow linear infinite;
}
.snow.foreground {
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  background-
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}
.snow.middleground {
  background-image: image-url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
}
.snow.middleground.layered {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}
.snow.background {
  background-image: image-url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
}
.snow.background.layered {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}
@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
            transform: translate3d(15%, 100%, 0);
  }
}
.flex-wrap{
  display: flex;
  flex-wrap: nowrap;
}
.center{
  justify-content:center;
}
.vert-middle{
  align-self: center;
}
div.center{
  text-align: center;
}
.flex-wrap.inline{
  display: inline-flex;
}
.flex-wrap > div{
  flex: 1 0 0;
  margin-right: 10px;
  display: block;
}
.flex-wrap>div:last-of-type{
  margin-right: 0px;
}
button{
  border-width: 0px;
  background-color: green!important;
  color: black!important;
}
button:hover{
  background-color: red!important;
}
.donate{
  margin-bottom: 20px;
  z-index: 2000;
}
.donate button{
  z-index: 2000;
}
